@page "/dashboard"
@using MQTTnet

@inject MQTTnet.ClientLib.MqttService MqttService

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<DualColorLEDLighting systemID="0" basestationID="0" nodeID="161"></DualColorLEDLighting>

<TesterHat systemID="0" basestationID="0" nodeID="170"></TesterHat>

<WeatherStation systemID="0" basestationID="0" nodeID="171"></WeatherStation>

@code {

}
