@page "/SetLightingSchedule"

<PageTitle>SetLightingSchedule</PageTitle>

<h3>Set Lighting Schedule</h3>

<DualColorLEDLighting systemID="0" basestationID="0" nodeID="161"></DualColorLEDLighting>



@code {

    public class setDawnTime
    {
        public string Time { get; set; }
    }
}
