@using BlazorMQTTTestingWASM.Models
@using MQTTnet
@inject MQTTnet.ClientLib.MqttService MqttService


<MudCard>
    <MudCardHeader>
        <MudGrid Justify="Justify.Center">
            <h3>Dual Color LED Lighting</h3>
        </MudGrid>
    </MudCardHeader>
    <MudCardContent>
        <MudGrid Spacing="10">
            <MudItem xs="6">
                <MudText Typo="Typo.h6">WHITE LED</MudText>
                <MudSlider @bind-Value="dualColorLEDLighting.WhiteLED" Min=0 Max=255></MudSlider>
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.h6">BLUE LED</MudText>
                <MudSlider @bind-Value="dualColorLEDLighting.BlueLED" Min=0 Max=255></MudSlider>
            </MudItem>
        </MudGrid>

        <MudGrid Spacing="10">
            <MudItem xs="6">
                <MudText Typo="Typo.h6">Adjust Demo Loop Durations</MudText>
                <MudNumericField @bind-Value="dualColorLEDLighting.DawnTime" Label="Set Dawn Durration" Variant="Variant.Outlined" Min="5" Max="30" />
                <MudNumericField @bind-Value="dualColorLEDLighting.SunriseTime" Label="Set Sunrise Duration" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="dualColorLEDLighting.HighNoon" Label="Set High Noon Duration" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="dualColorLEDLighting.SunsetTime" Label="Set Sunset Duration" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="dualColorLEDLighting.DuskTime" Label="Set Dusk Duration" Variant="Variant.Outlined" Min="5" Max="30" />
                <MudNumericField @bind-Value="dualColorLEDLighting.NightTime" Label="Set Night Duration" Variant="Variant.Outlined" />
                <MudNumericField @bind-Value="dualColorLEDLighting.BlueOnlyMaxIntensity" Label="Set the max intensity of the blue light at dusk and dawn" Variant="Variant.Outlined" Step=".5M" />
            </MudItem>

            <MudItem xs="6">

                <MudPaper Height="360px" Class="d-flex justify-space-around mud-width-full" Elevation="0">
                    <!--
                    <MudProgressLinear Vertical="true" Color=" MudBlazor.Color.Primary" MudBlazor.Size="Size.Small" Indeterminate="true" />
                    <MudProgressLinear Vertical="true" Color="MudBlazor.Color.Primary" MudBlazor.Size="Size.Medium" Value="195"
                    <MudProgressLinear Vertical="true" Color="MudBlazor.Color.Primary" MudBlazor.Size="Size.Small" Buffer="true" Value="150" BufferValue="10" />
                    <MudProgressLinear Vertical="true" Color="MudBlazor.Color.Dark" Striped="true" MudBlazor.Size="Size.Large" Value="175" />

                     <MudProgressLinear Vertical="true" Color="Color.Primary" Size="Size.Medium" Value="25">
                        <MudText Typo="Typo.subtitle1" Color="Color.Dark"><b>25</b></MudText>
                    </MudProgressLinear>

                    />-->

                    <MudText Typo="Typo.h6">Current Blue Intensity</MudText>
                    <MudProgressLinear Vertical="true" Color="MudBlazor.Color.Primary" MudBlazor.Size="Size.large" Value="@dualColorLEDLighting.CurrentBlueIntensity">
                        <MudText Typo="Typo.subtitle1" Color="MudBlazor.Color.Dark"><b>@dualColorLEDLighting.CurrentBlueIntensity</b></MudText>
                    </MudProgressLinear>

                    <MudText Typo="Typo.h6">Current White Intensity</MudText>
                    <MudProgressLinear Vertical="true" Color="MudBlazor.Color.Tertiary" MudBlazor.Size="Size.large" Value="@dualColorLEDLighting.CurrentWhiteIntensity">
                        <MudText Typo="Typo.subtitle1" Color="MudBlazor.Color.Dark"><b>@dualColorLEDLighting.CurrentWhiteIntensity</b></MudText>
                    </MudProgressLinear>


                </MudPaper>


            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code
{
    [Parameter]
    public int systemID { get; set; } = 0;
    [Parameter]
    public int basestationID { get; set; } = 0;
    [Parameter]
    public int nodeID { get; set; } = 0;

    DualColorLEDLightingDevice dualColorLEDLighting;

    protected override async Task OnInitializedAsync()
    {
        this.dualColorLEDLighting = new DualColorLEDLightingDevice(MqttService, this.systemID, this.basestationID, this.nodeID);
        if (MqttService.IsConnected())
        {
            MqttService.MessageReceived += MqttClient_MessageReceived;
        }
    }

    private void MqttClient_MessageReceived(object sender, MqttApplicationMessageReceivedEventArgs e)
    {
        base.StateHasChanged();
    }
}


